<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styleVentana.css">
    <title>Ventana Modal</title>
</head>
<body>
    <section class="modal">
        <div class="modal-container">
            <img class="modal-img" src="../static/images/files.svg" >
            <h2 class="title">RedSoim te dice {{ datos }}</h2>
            <p class="paragraph"> RedSoim La mejor red social de imagenes del mundo!!</p>
            <div class="btns">
                <a href="#" class="open-view">Colombia</a>
                <a href="#" class="open-guide">El mundo</a>
            </div>
            <a href="/" class="close">&times;</a>
        </div>
    </section>
</body>
</html>